.App {
  text-align: center;
}

.App-header {
  background-color: purple;
  height: 80px;
  padding: 20px;
  color: white;
  text-align: left;
  padding-top: 40px;
  padding-bottom: 40px;
}

.App-intro {
  font-size: large;
}

