.ProductList {
	padding: 20px;
	border-radius: 3px;
}

.ProductRow {
	height: 100px;
	border: 1px solid purple;
	overflow: hidden;
	padding: 6px;
	margin-bottom: 5px;
}

.ProductRowDetail {
	padding: 6px;
	display: inline-block;
	width: 24%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ProductRowPhoto {
	height: 100%;
}

.NoProductMessage {
	font-size: 20px;
	text-align: center;
	background: pink;
	padding: 20px;
	border-radius: 3px;
}

.ProductListHeading {
	font-size: 20px;
	background: #dedede;
	padding: 20px;
	border-radius: 3px;
	color: purple;
	margin-bottom: 4px;
	border: 1px solid purple;
}

.ProductRowButton {
	height: 30px;
	background: purple;
	color: white;
	float: right;
}